#yakutia-map {
  background: #eeebe6;

  .yakutia-map__head {
    padding: 48px 20px 70px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .yakutia-map__title {
    font-family: "Snell Roundhand";
    font-style: italic;
    font-weight: 700;
    font-size: 29px;
    letter-spacing: 1.88px;
    color: #604427;
    margin-top: -31px;
    margin-bottom: 34px;
  }
  .yakutia-map__descr {
    font-weight: 700;
  }
  .yakutia-map__quote {
    font-weight: 400;
  }
  .yakutia-map__descr,
  .yakutia-map__quote {
    max-width: 846px;
    width: 100%;
    font-family: "Avenir";
    font-style: normal;
    font-size: 12px;
    line-height: 140%;
    margin-bottom: 37px;
    color: #333333;
    letter-spacing: 0.114em;
  }
  .image-container {
    overflow: hidden;
    width: 100%;
    max-width: 622px;
    height: 100%;
    max-height: 260px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .auth {
    display: flex;
    align-items: center;
  }
  .auth__image {
    margin-right: 56px;
    width: 53px;
    height: 53px;
    border-radius: 50%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-position: center;
    }
  }

  .auth__desr {
    font-family: "Avenir";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #333333;
  }
  .map-container {
    width: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .yakutia-map__footer {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 36px;
    padding-bottom: 67px;
  }
  .footer-text {
    max-width: 846px;
    width: 100%;
    font-family: "Avenir";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 1px;
    color: #333333;
  }

  .yakutia-map__body {
    position: relative;
  }
  .clicable-img {
    position: absolute;
    cursor: pointer;
    transition: transform 0.25s ease-in-out;
    will-change: transform;
    &:hover {
      transform: scale3d(1.05, 1.05, 1);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  [data-modal-img="1"] {
    left: 42%;
    top: 10.5%;
    width: 8.5%;
    height: 5.9%;
  }

  [data-modal-img="2"] {
    left: 25%;
    top: 11.1%;
    width: 11.5%;
    height: 5.7%;
  }

  [data-modal-img="3"] {
    left: 27%;
    top: 20%;
    width: 10.5%;
    height: 4.78%;
  }

  [data-modal-img="4"] {
    left: 19%;
    top: 28.5%;
    width: 11.5%;
    height: 3.75%;
  }
  [data-modal-img="5"] {
    left: 27.8%;
    top: 77.5%;
    width: 12.1%;
    height: 8.35%;
  }

  [data-modal-img="6"] {
    left: 89.8%;
    top: 86.1%;
    width: 9.7%;
    height: 7%;
  }
  [data-modal-img="7"] {
    left: 0.5%;
    top: 15%;
    width: 7.65%;
    height: 4.5%;
  }

  [data-modal-img="8"] {
    left: 6%;
    top: 21.2%;
    width: 5.5%;
    height: 3.5%;
  }

  [data-modal-img="9"] {
    left: 6%;
    top: 26.4%;
    width: 8.7%;
    height: 5.1%;
  }

  [data-modal-img="10"] {
    left: 52.2%;
    top: 31.8%;
    width: 9%;
    height: 5.1%;
  }

  [data-modal-img="11"] {
    left: 0.5%;
    top: 95.5%;
    width: 8%;
    height: 5%;
  }

  [data-modal-img="12"] {
    left: 35.5%;
    top: 67.1%;
    width: 8%;
    height: 4.1%;
  }

  .text-img {
    z-index: 2;
    position: absolute;
    cursor: pointer;
    transition: transform 0.25s ease-in-out;
    will-change: transform;
    &:hover {
      transform: scale3d(1.05, 1.05, 1);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: left;
    }
  }

  [data-modal-text="1"] {
    left: 3.15%;
    top: 24.8%;
    width: 12%;
    height: 1.6%;
  }

  [data-modal-text="2"] {
    left: 3.15%;
    top: 31.8%;
    width: 14%;
    height: 1.6%;
  }

  [data-modal-text="3"] {
    left: 50.7%;
    top: 36.8%;
    width: 13.4%;
    height: 1.6%;
  }

  [data-modal-text="4"] {
    left: 15.3%;
    top: 56.2%;
    width: 14.85%;
    height: 2.46%;
  }

  [data-modal-text="5"] {
    left: 2%;
    top: 61.85%;
    width: 13%;
    height: 1.6%;
  }

  [data-modal-text="6"] {
    left: 0.5%;
    top: 63.65%;
    width: 14.4%;
    height: 1.6%;
  }

  [data-modal-text="7"] {
    left: 0.1%;
    top: 70.5%;
    width: 11.65%;
    height: 1.6%;
  }

  [data-modal-text="8"] {
    left: 23.8%;
    top: 68%;
    width: 8.5%;
    height: 1.6%;
  }

  [data-modal-text="9"] {
    left: 24.5%;
    top: 70%;
    width: 10.2%;
    height: 1.6%;
  }

  [data-modal-text="10"] {
    left: 9.5%;
    top: 91.5%;
    width: 19.6%;
    height: 1.6%;
  }

  [data-modal-text="11"] {
    left: 10.5%;
    top: 93.5%;
    width: 5%;
    height: 1.6%;
  }
}
