@import "./vendors/fancybox";
.carousel__button.fancybox__button--zoom,
.carousel__button.fancybox__button--fullscreen {
  display: none;
}

.carousel__button.fancybox__button--close {
  position: absolute;
  right: 25px;
  bottom: 25px;
  background-color: #fff;
  border-radius: 50%;
  width: 63px;
  height: 63px;
  cursor: pointer;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M19 32V19H32' stroke='%23604427' stroke-width='3'/%3e%3cpath d='M13 9.53674e-07L13 13L-7.15256e-07 13' stroke='%23604427' stroke-width='3'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
  svg {
    display: none;
  }
}
.fancybox__toolbar {
  position: static !important;
}

#yakutia-map {
  background: #eeebe6;

  .yakutia-map__head {
    padding: 48px 20px 70px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .yakutia-map__title {
    font-family: "Snell Roundhand";
    font-style: italic;
    font-weight: 700;
    font-size: 29px;
    letter-spacing: 1.88px;
    color: #604427;
    margin-top: -31px;
    margin-bottom: 34px;
  }
  .yakutia-map__descr {
    font-weight: 700;
  }
  .yakutia-map__quote {
    font-weight: 400;
  }
  .yakutia-map__descr,
  .yakutia-map__quote {
    max-width: 846px;
    width: 100%;
    font-family: "Avenir";
    font-style: normal;
    font-size: 12px;
    line-height: 140%;
    margin-bottom: 37px;
    color: #333333;
    letter-spacing: 0.114em;
  }
  .image-container {
    overflow: hidden;
    width: 100%;
    max-width: 622px;
    height: 260px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .auth {
    display: flex;
    align-items: center;
  }
  .auth__image {
    margin-right: 56px;
    width: 53px;
    height: 53px;
    border-radius: 50%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-position: center;
    }
  }

  .auth__desr {
    font-family: "Avenir";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #333333;
  }
  .map-container {
    width: 100%;
    height: 144.94vw;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .map-container__preload {
    overflow: hidden;
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    img {
      filter: blur(5px);
      width: 100%;
      height: 100%;
    }
    &.loaded {
      opacity: 0;
      visibility: hidden;
    }
  }
  .yakutia-map__footer {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 67px 20px 67px 20px;
  }
  .footer-text {
    max-width: 846px;
    width: 100%;
    font-family: "Avenir";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 1px;
    color: #333333;
  }

  .yakutia-map__body {
    position: relative;
  }

  .show-map-btn {
    position: absolute;
    right: 3%;
    top: 1.2%;
    background-color: #fff;
    border-radius: 50%;
    width: 4%;
    height: 2.75%;
    cursor: pointer;
    overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      left: 33%;
      top: 33%;
      width: 23%;
      height: 23%;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2 15V2H15' stroke='%23604427' stroke-width='3'/%3e%3c/svg%3e ");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    &::after {
      content: "";
      position: absolute;
      right: 33%;
      bottom: 33%;
      width: 23%;
      height: 23%;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M13 9.53674e-07L13 13L-7.15256e-07 13' stroke='%23604427' stroke-width='3'/%3e%3c/svg%3e ");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    &::after,
    &::before {
      transition: left 0.2s ease, right 0.2s ease, top 0.2s ease,
        bottom 0.2s ease;
    }
    &:hover {
      &::before {
        left: 30%;
        top: 30%;
      }
      &::after {
        right: 30%;
        bottom: 30%;
      }
    }
  }
  .clicable-img {
    animation: shake 5s ease-in-out infinite 3s;
    position: absolute;
    &:not(.not-clicable) {
      cursor: pointer;
      transition: transform 0.25s ease-in-out;
      will-change: transform;
      &:hover {
        transform: scale3d(1.05, 1.05, 1);
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  [data-modal-img="1"] {
    left: 42%;
    top: 10.5%;
    width: 8.5%;
    height: 5.9%;
  }

  [data-modal-img="2"] {
    left: 25%;
    top: 11.1%;
    width: 11.5%;
    height: 5.7%;
  }

  [data-modal-img="3"] {
    left: 27%;
    top: 20%;
    width: 10.5%;
    height: 4.78%;
  }

  [data-modal-img="4"] {
    left: 19%;
    top: 28.5%;
    width: 11.5%;
    height: 3.75%;
  }
  [data-modal-img="5"] {
    left: 27.8%;
    top: 77.5%;
    width: 12.1%;
    height: 8.35%;
  }

  [data-modal-img="6"] {
    left: 89.8%;
    top: 87.1%;
    width: 8.7%;
    height: 6%;
  }
  [data-modal-img="7"] {
    left: 0.5%;
    top: 15%;
    width: 7.65%;
    height: 4.5%;
  }

  [data-modal-img="8"] {
    left: 6%;
    top: 21.2%;
    width: 5.5%;
    height: 3.5%;
  }

  [data-modal-img="9"] {
    left: 6%;
    top: 26.4%;
    width: 8.7%;
    height: 5.1%;
  }

  [data-modal-img="10"] {
    left: 52.2%;
    top: 31.8%;
    width: 9%;
    height: 5.1%;
  }

  [data-modal-img="11"] {
    left: 0.5%;
    top: 95.5%;
    width: 8%;
    height: 5%;
  }

  [data-modal-img="12"] {
    left: 35.5%;
    top: 67.1%;
    width: 8%;
    height: 4.1%;
  }

  .text-img {
    z-index: 2;
    position: absolute;
    &:not(.not-clicable) {
      cursor: pointer;
      transition: transform 0.25s ease-in-out;
      will-change: transform;
      &:hover {
        transform: scale3d(1.05, 1.05, 1);
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: left;
    }
  }

  [data-modal-text="1"] {
    left: 3.15%;
    top: 24.8%;
    width: 12%;
    height: 1.6%;
  }

  [data-modal-text="2"] {
    left: 3.15%;
    top: 31.8%;
    width: 14%;
    height: 1.6%;
  }

  [data-modal-text="3"] {
    left: 50.7%;
    top: 36.8%;
    width: 13.4%;
    height: 1.6%;
  }

  [data-modal-text="4"] {
    left: 15.3%;
    top: 56.2%;
    width: 14.85%;
    height: 2.46%;
  }

  [data-modal-text="5"] {
    left: 2%;
    top: 61.85%;
    width: 13%;
    height: 1.6%;
  }

  [data-modal-text="6"] {
    left: 0.5%;
    top: 63.65%;
    width: 14.4%;
    height: 1.6%;
  }

  [data-modal-text="7"] {
    left: 0.1%;
    top: 70.5%;
    width: 11.65%;
    height: 1.6%;
  }

  [data-modal-text="8"] {
    left: 23.8%;
    top: 68%;
    width: 8.5%;
    height: 1.6%;
  }

  [data-modal-text="9"] {
    left: 24.5%;
    top: 70%;
    width: 10.2%;
    height: 1.6%;
  }

  [data-modal-text="10"] {
    left: 9.5%;
    top: 91.5%;
    width: 19.6%;
    height: 1.6%;
  }

  [data-modal-text="11"] {
    left: 10.5%;
    top: 93.5%;
    width: 5%;
    height: 1.6%;
  }

  .tube-img {
    z-index: 2;
    position: absolute;
    &:not(.not-clicable) {
      cursor: pointer;
      transition: transform 0.25s ease-in-out;
      will-change: transform;
      &:hover {
        transform: scale3d(1.05, 1.05, 1);
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: left;
    }
  }

  [data-modal-tube="4"] {
    left: 19%;
    top: 52.5%;
    width: 7.25%;
    height: 3.2%;
  }

  [data-modal-tube="5"] {
    left: 4%;
    top: 58.3%;
    width: 7.25%;
    height: 3.2%;
  }
  [data-modal-tube="6"] {
    left: 7%;
    top: 65.3%;
    width: 7.25%;
    height: 3.2%;
  }
  [data-modal-tube="7"] {
    left: 0.5%;
    top: 67.3%;
    width: 7.25%;
    height: 3.2%;
  }
  [data-modal-tube="8"] {
    left: 26%;
    top: 64.8%;
    width: 7.25%;
    height: 3.2%;
  }

  [data-modal-tube="9"] {
    left: 26.5%;
    top: 71.5%;
    width: 7.25%;
    height: 3.2%;
  }

  [data-modal-tube="10"] {
    left: 2.5%;
    top: 92.5%;
    width: 7.25%;
    height: 3.2%;
  }

  [data-modal-tube="11"] {
    left: 0.5%;
    top: 89.3%;
    width: 4.4%;
    height: 2.15%;
  }

  .animal-modal {
    display: flex;
    z-index: 5;
    position: absolute;
    background: #ece8de;
    border: 0.38vw solid #ded8c8;
    width: 35%;
    padding: 14px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10%);
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out,
      transform 0.35s ease-in-out;
    &.show {
      opacity: 1;
      visibility: visible;
      transform: translateY(0%);
    }
  }

  .animal-modal__face {
    margin-right: 16px;
    flex-shrink: 0;
    width: 24.7%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    img {
      width: 100%;
      height: auto;
      object-fit: contain;
      object-position: center;
    }
  }
  .animal-modal__title {
    font-family: "iowanoldstyle_bold";
    font-style: normal;
    font-weight: 400;
    font-size: 1.46vw;
    line-height: 100%;
    color: #604427;
    margin-bottom: 0.7vw;
  }

  .animal-modal__content {
    max-width: 51.52%;
  }
  .animal-modal__descr {
    font-family: "Avenir";
    font-style: normal;
    font-weight: 400;
    font-size: 0.76vw;
    line-height: 140%;
    color: #333333;
  }
  .animal-modal__animal {
    position: absolute;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .animal-modal__close {
    cursor: pointer;
    z-index: 2;
    width: 1.27vw;
    height: 1.27vw;
    position: absolute;
    right: 1vw;
    top: 1vw;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.41422 0.899414L1.03712e-05 2.31363L8.48536 10.799L0 19.2843L1.41421 20.6986L9.89958 12.2132L18.3848 20.6984L19.799 19.2842L11.3138 10.799L19.799 2.31378L18.3848 0.899565L9.89958 9.38476L1.41422 0.899414Z' fill='%23604427'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  [data-animal-modal="1"] {
    top: 7%;
    left: 25%;
    min-height: 14vw;
    .animal-modal__animal {
      width: 14.5vw;
      height: 11.44vw;
      right: -23%;
      bottom: 2%;
    }
  }

  [data-animal-modal="2"] {
    top: 9%;
    left: 16%;
    min-height: 14vw;
    .animal-modal__animal {
      width: 14.5vw;
      height: 11.44vw;
      right: -23%;
      bottom: 2%;
    }
  }

  [data-animal-modal="3"] {
    top: 17%;
    left: 12.2%;
    min-height: 15.5vw;
    .animal-modal__animal {
      width: 13.5vw;
      height: 8.44vw;
      right: -21%;
      bottom: 7%;
      img {
        transform: scaleX(-1);
      }
    }
  }
  [data-animal-modal="4"] {
    opacity: 0;
    top: 25%;
    left: 7%;
    min-height: 15.5vw;
    .animal-modal__animal {
      width: 14.5vw;
      height: 7.44vw;
      right: -22%;
      bottom: 5%;
      img {
        transform: scaleX(-1);
      }
    }
  }

  [data-animal-modal="5"] {
    bottom: 12.5%;
    left: 15%;
    min-height: 15.4vw;
    .animal-modal__animal {
      width: 13.47vw;
      height: 12.85vw;
      right: -20%;
      bottom: 6%;
    }
  }

  [data-animal-modal="6"] {
    bottom: 5%;
    right: 4.2%;
    min-height: 17.7vw;
    .animal-modal__animal {
      width: 10.87vw;
      height: 11.44vw;
      right: -13%;
      bottom: 6%;
    }
  }

  .animal-modal._small {
    width: 28.5vw;
    .animal-modal__face {
      align-items: center;
      width: 29.2%;
    }
  }
  [data-animal-modal="7"] {
    top: 13.2%;
    left: 0.5%;
    .animal-modal__content {
      max-width: 62%;
    }
    .animal-modal__face img {
      margin-bottom: 20%;
    }
  }

  [data-animal-modal="8"] {
    top: 18.3%;
    left: 3.5%;
    .animal-modal__content {
      max-width: 62%;
    }
  }

  [data-tube-modal] {
    min-height: 10.37vw;
    .animal-modal__descr {
      font-size: 1vw;
    }
  }

  [data-tube-modal="4"] {
    top: 51.3%;
    left: 10.5%;
  }

  [data-tube-modal="6"] {
    top: 61.7%;
    left: 0.5%;
  }

  [data-tube-modal="8"] {
    top: 63%;
    left: 17.5%;
  }

  [data-tube-modal="10"] {
    bottom: 3%;
    left: 2%;
  }
}
